header {
background-color: #000000;
color: #FFFFFF;
padding: 2px;
text-align: center;
}

h1 {
font-family: century-gothic;
font-weight: bold;
color: white;
border: solid black;
background: black;
text-align: center;
}

h2 {
font-family: century-gothic;
font-weight: bold;
color: white;
border: solid black;
background: black;
padding: 5px;
text-align: center;
border-top:0px;
}

body {
background: url("images/background.png") no-repeat center center fixed;
background-size: cover;
}

img {
max-width:131px;
max-height:191px;
/*margin-top:1px;*/
display: inline-block;
}

#player-deck {
min-width: 800px;
min-height: 470px;
border: solid black;
text-align: left;
background-color: #344441;
margin-bottom: 10px;
right: 0px;
}

#dealer-deck {
min-width: 800px;
min-height: 470px;
border: solid black;
text-align: right;
background-color: #344441;
margin-bottom: 10px;
}

.cardDiv
{
border: solid 1px #808080;
background-color: white;
display: inline-block;
border-radius: 10px;
color:black;
margin-top: 25px;
margin-left: 5px;
margin-right: 5px;
}

#deck-row {
margin-top: 10px;
margin-right: 100px;
margin-left: 100px;
justify-content: space-between;
}

#dealer-UI {
min-width: 595px;
display: block;
}

#player-UI {
max-width: 595px;
display: block;
}

.player-bar {
background: green;
min-width: 100%;
}

.dealer-bar {
background: maroon;
min-width: 100%;
}

#status-test {
font-weight: bold;
color: #FFFFFF;
text-align: center;
background: blue;
border-color: black;
border-style: solid;
padding: 5px;
border-width: 3px;
min-width: 100%;
font-family: century-gothic;
font-weight: bold;
font-size: 3em;
margin: 5px;
display:block;

}

#points {
border-color: black;
color: white;
position: absolute; bottom: 0;
text-align: center;
padding: 5px;
min-width: 100%;
font-size: 20pt;
font-weight: bold;
right: 0px;
}

#dealer-points {
border-color: black;
color: white;
position: absolute; bottom: 0;
text-align: center;
padding: 5px;
min-width: 100%;
font-size: 20pt;
font-weight: bold;
}

#money-row {
justify-content: center;
color:white;
padding: 20px;
font-size: 20pt;
font-weight: bold;
background: black;
margin-top:20px;
text-align: center;
max-width: 400px;
margin: 0 auto;
font-family: century-gothic;
  border-radius: 25px;
}

.button-row {
justify-content: center;
display:flex;
margin: 5px;
}

.button {
display: inline-block;
padding: 20px 30px;
font-size: 30px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
font-family: "arial";
font-weight: bold;
margin: 5px;
}

.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

#btn-hit {
background-color: red;
}

#btn-stand {
background-color: blue;
}

#btn-restart {
background-color: orange;
}

#btn-surrender {
background-color: white;
color: black;
}
