header {
background-color: #000000;
color: #FFFFFF;
padding: 8px;
text-align: center;
}

/*nav {
background-color: #3F5450;
color: #FFFFFF;
padding: 4px;
text-align: center;
border-bottom: 3px black solid;
margin-bottom: 30px;
}*/

/*a {
margin: 0 20px;
font-family: "Raleway";
letter-spacing: 1px;
font-weight: 600;
font-size: 15px;
text-transform: uppercase;
color: #FFFFFF;
border-bottom: 2px solid transparent;
}*/

/*a:hover {
color: #EB8686;
}
*/

h1 {
font-family: century-gothic;
font-weight: bold;
color: white;
border: solid black;
background: black;
padding: 5px;
}

body {
background: url("images/background.png") no-repeat center center fixed;
background-size: cover;
text-align: center;
}

footer {
background-color: #000000;
color: #FFFFFF;
text-align: right;
position: absolute;
width: 100%;
overflow: hidden;
}

img {
max-width:144px;
max-height:201px;
}

.container-fluid {
}

.cardDiv
{
padding: 1px;
border: solid 1px #808080;
background-color: white;
display: inline-block;
border-radius: 10px;
color:black;
margin: 3px;
margin-top: 50px;
margin-left: 30px;
margin-right: 20px;
}

/*#instructions {
font-weight: bold;
color: #FFFFFF;
padding: 220px 0;
text-align: center;
}*/

#container-fluid {
}

#deck-row {
margin: 0 auto;
margin-top: 100px;
text-align: center;
justify-content: space-evenly;
}

#player-deck {
min-width: 400px;
min-height: 600px;
display: inline-block;
border: solid black;
text-align: left;
background-color: #3F5450;
}

#dealer-deck {
min-width: 400px;
min-height: 600px;
display: inline-block;
border: solid black;
text-align: right;
background-color: #3F5450;
}

#dealer-UI {
min-width: 595px;
display: block;
}

#player-UI {
min-width: 595px;
display: block;
}

#points {
font-weight: bold;
color: #FFFFFF;
text-align: center;
font-size: 20pt;
border-left: 0px;
border-right: 0px;
}

#status-win-player {
font-weight: bold;
color: #FFFFFF;
text-align: center;
font-size: 20pt;
background: green;
border-color: black;
border-style: solid;
padding: 5px;
border-width: 3px;
position: absolute;
min-width: 100%;
}

#status-lose-player {
font-weight: bold;
color: #FFFFFF;
text-align: center;
font-size: 20pt;
background: maroon;
border-color: black;
border-style: solid;
padding: 5px;
border-width: 3px;
position: absolute;
min-width: 100%;
}

#status-win-dealer {
font-weight: bold;
color: #FFFFFF;
text-align: center;
font-size: 20pt;
background: maroon;
border-color: black;
border-style: solid;
padding: 5px;
border-width: 3px;
position: absolute;
min-width: 100%;
}

#status-lose-dealer {
font-weight: bold;
color: #FFFFFF;
text-align: center;
font-size: 20pt;
background: green;
border-color: black;
border-style: solid;
padding: 5px;
border-width: 3px;
position: absolute;
min-width: 100%;
}

#points {
border: solid 3px;
border-bottom: 0px;
border-color: black;
background-color: #EB8585;
color: white;
position: absolute; bottom: 0;
text-align: center;
padding: 5px;
min-width: 100%;
}

.button-row {
justify-content: center;
align-content: center;
align-items: center;
display:flex;
}

.button {
display: inline-block;
padding: 20px 30px;
font-size: 30px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
margin: 20px 5px;
font-family: "arial";
font-weight: bold;
}

.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

#btn-hit {
background-color: red;
}

#btn-stand {
background-color: blue;
}

#btn-restart {
background-color: white;
color: black;
}

.player-bar {
background: green;
position: fixed;
left: 0;
padding:10px;
/*padding-left: 100px;*/
}

.dealer-bar {
background: maroon;
position: fixed;
right: 0;
padding:10px;
/*padding-right: 100px;*/
}