header {
background-color: #000000;
color: #FFFFFF;
padding: 8px;
text-align: center;
}

nav {
background-color: #3F5450;
color: #FFFFFF;
padding: 3px;
text-align: center;
border-bottom: 3px black solid;
}

a {
margin: 0 20px;
font-family: "Raleway";
letter-spacing: 1px;
font-weight: 600;
font-size: 15px;
text-transform: uppercase;
color: #FFFFFF;
border-bottom: 2px solid transparent;
}

a:hover {
color: #EB8686;
}

h1 {
font-family: century-gothic;
font-weight: bold;
}

body {
background-color: #EB8686;

}

footer {
background-color: #000000;
color: #FFFFFF;
text-align: right;
position: absolute;
width: 100%;
overflow: hidden;
}

img {
max-width:144px;
max-height:201px;
}

.container-fluid {
background: url("images/background.png") no-repeat center center fixed;
background-size: cover;
padding: 115px;
height: 100%;
}

.col-6 {
min-height: 500px;
min-width: 1200px;
background-color: #3F5450;
border: solid black;
margin: 0 auto;
}

.button-row {
justify-content: center;
align-content: center;
align-items: center;
display:flex;
}

.button {
display: inline-block;
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
margin: 20px 5px;
font-family: "arial";
font-weight: bold;
}

.card
{
padding: 1px;
border: solid 1px #808080;
background-color: white;
display: inline-block;
border-radius: 10px;
text-align: center;
color:black;
margin: 3px;
}

.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

#btn-hit{
background-color: red;
}

#btn-stay{
background-color: blue;
}

#btn-restart{
background-color: green;
}

#player-score{
font-weight: bold;
color: #FFFFFF;
}